{% extends "layout.html" %}
{% block title %}
    Search bye weeks
{% endblock %}
{% block content %}
<h1>NFL Bye Weeks</h1>
<input type="text" 
        id="myInput" 
        onkeyup="myFunction()" 
        placeholder="Search for your teams bye week" 
        title="type in team abbr">

<table id="myTable">
    <tr class="header">
        <th>byeWeek</th>
        <th>Team</th>
        <th>Display Name</th>
    </tr>
    <tbody>
        {% for games in byeWeekList %} 
            <tr>
                <td>{{games[0]}}</td>
                <td>{{games[1]}}</td>
                <td>{{games[2]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
            } else {
                    tr[i].style.display = "none";
              }
            }       
          }
        }
</script>
{% endblock %}