{% extends "layout.html" %}
{% block title %}
    Search Page 
{% endblock %}
{% block content %}
<h1>NFL Schedule by Week</h1>
{% endfor %}
{% endblock %}
  <!--   <form action="/search/" method='post' novalidate >
        <p>
            Enter Week Number: <br>
            {{form.weekNumber(size=2)}}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>
    <p>
        {% for games in gameList %}
            <li>{{games}}</li>
        {%endfor%}
        </p> -->
